html, body, *{
  box-sizing: border-box;
  font-size: 62.5%;
  margin-left: 5px;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  background: linear-gradient(0deg, #FFC0CB,	#FF1493, #C71585, #FF00FF);
  animation: test 15s ease infinite;
  
}
.background {
  display: flex;
  justify-content: space-around;
  
}

.title {
  font-size: 5rem;
  border-radius: 25px;
  border: 4px solid pink;
  padding: 6%;
  width: 30vw;
  height: 30vh;
  margin: 1.2rem;
  color: hotpink;
  box-shadow: 1rem 1rem rgb(252, 122, 252);;
  text-align: center;
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  align-items: center;
}

.title:hover {
  width: 32vw;
  height: 32vh;
  margin: 0%;
  box-shadow: 1rem 1rem magenta;
  font-size: 6rem;
}

.title-1 {
  background: url(img/paris.jpg);
  background-position: center;
}

.title-2 {
  background: url(img/madrid.jpg);
}

.title-3 {
  background: url(img/london.jpg);
  background-position-y: -30rem;
}

.title-4 {
  background: url(img/new-york-city.jpg);
  background-position: top;
}

.title-5 {
  background: url(img/mexico-city.jpg);
}

.title-6 {
  background: url(img/miami.jpg);
  background-position: center;
}

.title-7 {
  background: url(img/tokyo.jpg);
  background-position: bottom;
}

.title-8 {
  background: url(img/seoul.jpg);
  background-position-y: -55rem;
}

.title-9 {
  background: url(img/beijing.jpg);
  background-position: center;
}

@keyframes test{
0%{
  background-position: 0% 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 100% 100%;
}
}