.background {
  box-sizing: border-box;
  font-size: 62.5%;
  margin-left: 2rem;
}



.title {
  background-color: plum;
  border-radius: 25px;
  border: 4px solid pink;
  padding: 20px;
  width: 20%;
  height: 20%;
  display: flex;
}